.tree {
  width: 100%;
}

.tree button[role="treeitem"] {
    display: flex;
    background: transparent;
    border: none;
    width: 100%;
    padding: 0 0 2px 0;
}

.treeitem {
    width: 100%;
    text-align: left;
    background-color: var(--theme-elevation-0);
    padding: 6px 10px;
    position: relative;
    border-radius: 8px;
    transition: background-color .2s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.treeitem:hover {
    background-color: var(--theme-elevation-50);
}

.treeitem.selected {
    background-color: var(--theme-elevation-100);
}

.treeitem > .icon--chevron {
    display: none;
}

.treeitem.folder > .icon--chevron {
    display: block;
    flex-shrink: 0;
    transition: transform 0.1s ease-in-out;
    transform: rotate(-90deg);
}

.treeitem.folder.expanded > .icon--chevron {
    transform: rotate(0deg);
}

.treeitem:not(.folder) {
    padding-left: 16px;
}

